# Module - 1

Data Pre-Processing

In [1]:
import pandas as p
import numpy as n

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data=p.read_csv('data.csv')

In [4]:
data.head()

,S.No,Crime,Gender,Age,Income,Job,Maritalstatus,Education,Harm,Attack,AttackMethod,Perpetrator
0,0,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Middle,Technical,Married,Primary Education,Fraud,Hacking Social Media Accounts,Creating a Fake Shopping Site,UnKnown
1,1,Misuse of Debit Cards or Credit Cards,Female,27 and Under,Low,Student,Single,High School,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering,UnKnown
2,2,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Low,Retired,Married,Primary Education,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering,UnKnown
3,3,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Low,Technical,Married,High School,Internet Shopping by Intoducing Himself as a B...,Hacking Social Media Accounts,Social Engineering,UnKnown
4,4,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Low,Others,Married,High School,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering,Known

In [5]:
data.shape

(1802, 12)

In [6]:
data.size

21624

In [7]:
data.isnull()

,S.No,Crime,Gender,Age,Income,Job,Maritalstatus,Education,Harm,Attack,AttackMethod,Perpetrator
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1797,False,False,False,False,False,False,False,False,False,False,False,False
1798,False,False,False,False,False,False,False,False,False,False,False,False
1799,False,False,False,False,False,False,False,False,False,False,False,False
1800,False,False,False,False,False,False,False,False,False,False,False,False
1801,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
data.isnull().sum()

S.No             0
Crime            0
Gender           0
Age              0
Income           0
Job              0
Maritalstatus    0
Education        0
Harm             0
Attack           0
AttackMethod     0
Perpetrator      0
dtype: int64

In [9]:
data.columns

Index(['S.No', 'Crime', 'Gender', 'Age', 'Income', 'Job', 'Maritalstatus',
       'Education', 'Harm', 'Attack', 'AttackMethod', 'Perpetrator'],
      dtype='object')

In [10]:
data['Crime'].unique()

array(['Misuse of Debit Cards or Credit Cards',
       'Hacking into the Information System and Capturing Data',
       'Through Informatics Theft'], dtype=object)

In [11]:
data['Age'].unique()

array(['Between 38 and 50', '27 and Under', '51 and Above',
       'Between 28 and 37'], dtype=object)

In [12]:
data['Job'].unique()

array(['Technical', 'Student', 'Retired', 'Others',
       'Justice and Security', 'IT Sector', 'Housewife',
       'Health Sector Manager', 'Education', 'Finance Sector'],
      dtype=object)

In [13]:
data['Harm'].unique()

array(['Fraud', 'Internet Shopping Out of Knowledge',
       'Internet Shopping by Intoducing Himself as a Bank Clerk',
       'Withdrawing Money by Introducing Himself as a Bank Clerk',
       'Withdrawals Without Knowledge', 'Do Moral Harm',
       'Threating / Blackmailing'], dtype=object)

In [14]:
data['Attack'].unique()

array(['Hacking Social Media Accounts',
       'Obtaining Electronic Bank Accounts',
       'Obtaining and Using Data in Digital Environment',
       'Copying Bank / ATM Cards', 'Selling Counterfeit Products'],
      dtype=object)

In [15]:
data['AttackMethod'].unique()

array(['Creating a Fake Shopping Site', 'Social Engineering',
       'Hacking Tools or Malware', 'Card Copying / Generating Devices',
       'Receiving Public Data on Social Media', 'Phishing Attack'],
      dtype=object)

In [16]:
data[data["Harm"] == 'Fraud']

,S.No,Crime,Gender,Age,Income,Job,Maritalstatus,Education,Harm,Attack,AttackMethod,Perpetrator
0,0,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Middle,Technical,Married,Primary Education,Fraud,Hacking Social Media Accounts,Creating a Fake Shopping Site,UnKnown
24,24,Misuse of Debit Cards or Credit Cards,Male,51 and Above,Middle,Retired,Married,High School,Fraud,Hacking Social Media Accounts,Creating a Fake Shopping Site,Known
51,51,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Low,Technical,Married,High School,Fraud,Hacking Social Media Accounts,Creating a Fake Shopping Site,UnKnown
57,57,Misuse of Debit Cards or Credit Cards,Male,51 and Above,Middle,Retired,Single,High School,Fraud,Hacking Social Media Accounts,Creating a Fake Shopping Site,Known
60,60,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Low,Technical,Married,Primary Education,Fraud,Hacking Social Media Accounts,Creating a Fake Shopping Site,Known
...,...,...,...,...,...,...,...,...,...,...,...,...
1291,1291,Misuse of Debit Cards or Credit Cards,Female,Between 38 and 50,Middle,Retired,Single,Primary Education,Fraud,Hacking Social Media Accounts,Creating a Fake Shopping Site,Known
1292,1292,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Middle,Technical,Married,Primary Education,Fraud,Hacking Social Media Accounts,Creating a Fake Shopping Site,Known
1299,1299,Misuse of Debit Cards or Credit Cards,Female,Between 28 and 37,Low,Technical,Married,Primary Education,Fraud,Hacking Social Media Accounts,Creating a Fake Shopping Site,Known
1304,1304,Misuse of Debit Cards or Credit Cards,Male,27 and Under,Middle,Others,Married,Graduate,Fraud,Hacking Social Media Accounts,Creating a Fake Shopping Site,Known
1427,1427,Misuse of Debit Cards or Credit Cards,Female,Between 38 and 50,Low,Housewife,Married,Primary Education,Fraud,Hacking Social Media Accounts,Creating a Fake Shopping Site,UnKnown

In [17]:
data[data["Income"] == 'High' ].head()

,S.No,Crime,Gender,Age,Income,Job,Maritalstatus,Education,Harm,Attack,AttackMethod,Perpetrator
6,6,Misuse of Debit Cards or Credit Cards,Male,51 and Above,High,Justice and Security,Married,Under Graduate,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering,UnKnown
53,53,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,High,Justice and Security,Married,Under Graduate,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering,Known
61,61,Misuse of Debit Cards or Credit Cards,Female,51 and Above,High,Justice and Security,Married,Under Graduate,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering,Known
65,65,Misuse of Debit Cards or Credit Cards,Male,27 and Under,High,Justice and Security,Single,Under Graduate,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering,UnKnown
72,72,Misuse of Debit Cards or Credit Cards,Male,Between 28 and 37,High,Justice and Security,Married,Under Graduate,Fraud,Hacking Social Media Accounts,Creating a Fake Shopping Site,Known

In [18]:
data[data["Income"] == 'Low' ]

,S.No,Crime,Gender,Age,Income,Job,Maritalstatus,Education,Harm,Attack,AttackMethod,Perpetrator
1,1,Misuse of Debit Cards or Credit Cards,Female,27 and Under,Low,Student,Single,High School,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering,UnKnown
2,2,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Low,Retired,Married,Primary Education,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering,UnKnown
3,3,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Low,Technical,Married,High School,Internet Shopping by Intoducing Himself as a B...,Hacking Social Media Accounts,Social Engineering,UnKnown
4,4,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Low,Others,Married,High School,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering,Known
5,5,Misuse of Debit Cards or Credit Cards,Male,51 and Above,Low,Retired,Married,Primary Education,Internet Shopping by Intoducing Himself as a B...,Obtaining Electronic Bank Accounts,Hacking Tools or Malware,Known
...,...,...,...,...,...,...,...,...,...,...,...,...
1795,1795,Through Informatics Theft,Female,Between 28 and 37,Low,Housewife,Married,High School,Do Moral Harm,Obtaining and Using Data in Digital Environment,Creating a Fake Shopping Site,Known
1796,1796,Through Informatics Theft,Female,Between 28 and 37,Low,Housewife,Married,High School,Withdrawals Without Knowledge,Obtaining and Using Data in Digital Environment,Social Engineering,UnKnown
1798,1798,Through Informatics Theft,Male,51 and Above,Low,Retired,Married,High School,Withdrawals Without Knowledge,Obtaining and Using Data in Digital Environment,Social Engineering,UnKnown
1799,1799,Through Informatics Theft,Female,27 and Under,Low,Technical,Single,Primary Education,Withdrawals Without Knowledge,Obtaining and Using Data in Digital Environment,Social Engineering,UnKnown
1800,1800,Through Informatics Theft,Female,Between 38 and 50,Low,Housewife,Married,High School,Withdrawals Without Knowledge,Obtaining and Using Data in Digital Environment,Social Engineering,UnKnown

In [19]:
data[data["Gender"] == 'Male'].shape

(1312, 12)

In [20]:
data[data["Gender"] == 'Female'].shape

(490, 12)

In [21]:
data.tail()

,S.No,Crime,Gender,Age,Income,Job,Maritalstatus,Education,Harm,Attack,AttackMethod,Perpetrator
1797,1797,Through Informatics Theft,Male,51 and Above,Middle,Education,Married,High School,Do Moral Harm,Obtaining and Using Data in Digital Environment,Social Engineering,Known
1798,1798,Through Informatics Theft,Male,51 and Above,Low,Retired,Married,High School,Withdrawals Without Knowledge,Obtaining and Using Data in Digital Environment,Social Engineering,UnKnown
1799,1799,Through Informatics Theft,Female,27 and Under,Low,Technical,Single,Primary Education,Withdrawals Without Knowledge,Obtaining and Using Data in Digital Environment,Social Engineering,UnKnown
1800,1800,Through Informatics Theft,Female,Between 38 and 50,Low,Housewife,Married,High School,Withdrawals Without Knowledge,Obtaining and Using Data in Digital Environment,Social Engineering,UnKnown
1801,1801,Through Informatics Theft,Female,27 and Under,Middle,Technical,Single,High School,Withdrawals Without Knowledge,Copying Bank / ATM Cards,Receiving Public Data on Social Media,UnKnown

In [22]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1797    False
1798    False
1799    False
1800    False
1801    False
Length: 1802, dtype: bool

In [23]:
data.duplicated().sum()

0

In [24]:
df = data.dropna()

In [25]:
sum(df.isnull().sum())

0

In [26]:
df.shape

(1802, 12)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1802 entries, 0 to 1801
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   S.No           1802 non-null   int64
 1   Crime          1802 non-null   object
 2   Gender         1802 non-null   object
 3   Age            1802 non-null   object
 4   Income         1802 non-null   object
 5   Job            1802 non-null   object
 6   Maritalstatus  1802 non-null   object
 7   Education      1802 non-null   object
 8   Harm           1802 non-null   object
 9   Attack         1802 non-null   object
 10  AttackMethod   1802 non-null   object
 11  Perpetrator    1802 non-null   object
dtypes: int64(1), object(11)
memory usage: 183.0+ KB

In [28]:
df.columns

Index(['S.No', 'Crime', 'Gender', 'Age', 'Income', 'Job', 'Maritalstatus',
       'Education', 'Harm', 'Attack', 'AttackMethod', 'Perpetrator'],
      dtype='object')

In [29]:
p.crosstab(df["Attack"], df["AttackMethod"])

AttackMethod,Card Copying / Generating Devices,Creating a Fake Shopping Site,Hacking Tools or Malware,Phishing Attack,Receiving Public Data on Social Media,Social Engineering
Attack,,,,,,
Copying Bank / ATM Cards,0,0,0,0,224,0
Hacking Social Media Accounts,120,222,0,0,0,608
Obtaining Electronic Bank Accounts,0,0,108,0,0,0
Obtaining and Using Data in Digital Environment,14,58,0,0,0,356
Selling Counterfeit Products,0,0,0,92,0,0

In [30]:
p.crosstab(df["Crime"], df["Perpetrator"])

Perpetrator                                         Known  UnKnown
Crime
Hacking into the Information System and Capturi...    130       50
Misuse of Debit Cards or Credit Cards                 530      528
Through Informatics Theft                             122      442

In [31]:
p.crosstab(df.Attack,df.Perpetrator)

Perpetrator                                      Known  UnKnown
Attack
Copying Bank / ATM Cards                            94      130
Hacking Social Media Accounts                      492      458
Obtaining Electronic Bank Accounts                  38       70
Obtaining and Using Data in Digital Environment     80      348
Selling Counterfeit Products                        78       14

In [32]:
df["Crime"].value_counts()

Misuse of Debit Cards or Credit Cards                     1058
Through Informatics Theft                                  564
Hacking into the Information System and Capturing Data     180
Name: Crime, dtype: int64

In [33]:
df["AttackMethod"].value_counts()

Social Engineering                       964
Creating a Fake Shopping Site            280
Receiving Public Data on Social Media    224
Card Copying / Generating Devices        134
Hacking Tools or Malware                 108
Phishing Attack                           92
Name: AttackMethod, dtype: int64

In [34]:
p.Categorical(df["Attack"]).describe()

                                                 counts     freqs
categories
Copying Bank / ATM Cards                            224  0.124306
Hacking Social Media Accounts                       950  0.527192
Obtaining Electronic Bank Accounts                  108  0.059933
Obtaining and Using Data in Digital Environment     428  0.237514
Selling Counterfeit Products                         92  0.051054

In [35]:
from sklearn.preprocessing import LabelEncoder
l = LabelEncoder()
columns = ['S.No', 'Crime', 'Gender', 'Age', 'Income', 'Job', 'Maritalstatus',
       'Education', 'Harm', 'Attack', 'AttackMethod', 'Perpetrator']
for column in columns:
    df[column] = l.fit_transform(df[column]).astype(int)

In [36]:
df

,S.No,Crime,Gender,Age,Income,Job,Maritalstatus,Education,Harm,Attack,AttackMethod,Perpetrator
0,0,1,1,3,2,9,0,2,1,1,1,1
1,1,1,0,0,1,8,1,1,2,1,5,1
2,2,1,1,3,1,7,0,2,2,1,5,1
3,3,1,1,3,1,9,0,1,3,1,5,1
4,4,1,1,3,1,6,0,1,2,1,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1797,1797,2,1,1,2,0,0,1,0,3,5,0
1798,1798,2,1,1,1,7,0,1,5,3,5,1
1799,1799,2,0,0,1,9,1,2,5,3,5,1
1800,1800,2,0,3,1,3,0,1,5,3,5,1
1801,1801,2,0,0,2,9,1,1,5,0,4,1

In [37]:
df.corr()

,S.No,Crime,Gender,Age,Income,Job,Maritalstatus,Education,Harm,Attack,AttackMethod,Perpetrator
S.No,1.000000,0.268073,-0.107670,-0.073293,-0.034236,-0.029119,0.088998,-0.050873,0.070474,0.177265,0.056369,0.073261
Crime,0.268073,1.000000,-0.237805,-0.008191,-0.063181,-0.102847,0.050194,-0.040659,-0.231643,0.051459,0.330578,0.322579
Gender,-0.107670,-0.237805,1.000000,0.142829,0.032175,0.176279,-0.284636,0.057562,0.080345,0.013549,-0.049627,-0.082140
Age,-0.073293,-0.008191,0.142829,1.000000,0.110287,-0.108884,-0.450486,0.042025,0.052463,-0.014358,0.082491,0.065558
Income,-0.034236,-0.063181,0.032175,0.110287,1.000000,-0.092378,-0.108141,-0.162012,0.001779,-0.049182,-0.005811,-0.046901
Job,-0.029119,-0.102847,0.176279,-0.108884,-0.092378,1.000000,0.086361,0.239153,-0.029589,-0.024657,0.004522,-0.117698
Maritalstatus,0.088998,0.050194,-0.284636,-0.450486,-0.108141,0.086361,1.000000,0.012036,-0.043787,0.005369,-0.082279,-0.049138
Education,-0.050873,-0.040659,0.057562,0.042025,-0.162012,0.239153,0.012036,1.000000,-0.008143,-0.034823,0.027717,-0.020664
Harm,0.070474,-0.231643,0.080345,0.052463,0.001779,-0.029589,-0.043787,-0.008143,1.000000,0.304497,-0.166878,-0.042314
Attack,0.177265,0.051459,0.013549,-0.014358,-0.049182,-0.024657,0.005369,-0.034823,0.304497,1.000000,0.045194,0.102007
AttackMethod,0.056369,0.330578,-0.049627,0.082491,-0.005811,0.004522,-0.082279,0.027717,-0.166878,0.045194,1.000000,0.256679
Perpetrator,0.073261,0.322579,-0.082140,0.065558,-0.046901,-0.117698,-0.049138,-0.020664,-0.042314,0.102007,0.256679,1.000000

In [38]:
df.describe()

,S.No,Crime,Gender,Age,Income,Job,Maritalstatus,Education,Harm,Attack,AttackMethod,Perpetrator
count,1802.00000,1802.000000,1802.000000,1802.000000,1802.000000,1802.000000,1802.000000,1802.000000,1802.000000,1802.000000,1802.000000,1802.000000
mean,900.50000,1.213097,0.728080,1.641509,1.347392,6.561598,0.304107,0.976693,2.776915,1.563818,3.600444,0.566038
std,520.33691,0.606357,0.445072,1.155922,0.628993,2.881681,0.460156,0.879472,1.811849,1.129868,1.804480,0.495757
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,450.25000,1.000000,0.000000,1.000000,1.000000,5.000000,0.000000,0.000000,2.000000,1.000000,2.000000,0.000000
50%,900.50000,1.000000,1.000000,2.000000,1.000000,8.000000,0.000000,1.000000,2.000000,1.000000,5.000000,1.000000
75%,1350.75000,2.000000,1.000000,3.000000,2.000000,9.000000,1.000000,2.000000,5.000000,3.000000,5.000000,1.000000
max,1801.00000,2.000000,1.000000,3.000000,2.000000,9.000000,1.000000,3.000000,6.000000,4.000000,5.000000,1.000000